{% extends 'base.html' %}
{% block head %}
<title>Password reset complete</title>
{% endblock %}
{% block body %}
    <!--<div class="container-fluid">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <div class="panel panel-default">
            <div class="panel-body">
               <div class="form-group">
                  <h1>Password reset complete</h1>
                  <p>
                     Your password has been set!
                  </p>
                  <a href="{% url 'ordering:login' %}">Log in</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>-->
<div class="resetpasswordcomplete-page">
  <div class="form">
        <p>
          Your password has been reset!
        </p>
          <a href="{% url 'ordering:login' %}">Log in</a>
    </form>
  </div>
</div>
{% endblock %}

