@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body {
  background-color: #f2f2f2; }

.navbar {
  border-radius: 0;
  position: fixed;
  width: 100%;
  background-color: #438eb9; }

#navbar .nav, #navbar .navbar-nav, #navbar li, #navbar a {
  color: white; }

.navbar-brand h3 {
  margin-top: -2px;
  margin-left: -2px;
  color: white; }

.tcl-container .row .login-form {
  padding-top: 20px;
  padding-left: 250px;
  width: 75%; }

.inventory-container {
  width: 83%;
  padding-top: 75px;
  padding-left: 15px;
  margin-left: 317.833px; }

.detail-container {
  width: 83%;
  padding-top: 75px;
  margin-left: 317.833px; }

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto; }

.register-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto; }

.forgotpassword-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto; }

.register-success-container {
  padding-top: 75px; }

.success-container-usercontainer {
  padding-top: 50px; }

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    box-sizing: border-box;
    font-size: 14px; }
  .form .tcl-username, .form .tcl-password, .form .tcl-last_name, .form .tcl-first_name, .form .tcl-password1, .form .tcl-password2, .form email {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px; }
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer; }
    .form button :hover, .form button :active, .form button :focus {
      background: #43A047; }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px; }
    .form .message a {
      color: #4CAF50;
      text-decoration: none; }
  .form .form .register-form {
    display: none; }
  .form .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto; }
    .form .container :before, .form .container :after {
      content: "";
      display: block;
      clear: both; }
    .form .container .info {
      margin: 50px auto;
      text-align: center; }
      .form .container .info h1 {
        margin: 0 0 15px;
        padding: 0;
        font-size: 36px;
        font-weight: 300;
        color: #1a1a1a; }
      .form .container .info span {
        color: #4d4d4d;
        font-size: 12px; }
        .form .container .info span a {
          color: #000000;
          text-decoration: none; }
        .form .container .info span .fa {
          color: #EF3B3A; }

.alert {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px; }
  .alert .close {
    height: 5px;
    width: 5px; }

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
  background-color: white; }
  .sidebar .nav {
    margin-bottom: 20px; }
  .sidebar .nav-item {
    width: 100%; }
    .sidebar .nav-item a:hover {
      background-color: #50b3ff !important;
      color: #fff; }
    .sidebar .nav-item a:active {
      background-color: #50b3ff !important; }
  .sidebar .nav-item + .nav-item {
    margin-left: 0; }
  .sidebar .nav-link {
    border-radius: 0; }

/*# sourceMappingURL=styles.css.map */
